.filter {
    font-family: 'Montserrat', sans-serif;
    color: var(--blue);
}
.filter__button{
    all: unset;
    width: 100%;
    height: 5vh;
    font-weight: 500;
    text-align: center;
    background-color: var(--dark-black);
    border-top: 2px solid var(--black);
    border-bottom: 2px solid var(--black);
}

.filter__drop-down {
    display: flex;
    flex-direction: column;
    margin: auto 0;
    background-color: var(--light-black);
    justify-content: center;
    padding: 5px 0;
}

.filter__drop-down label {
    display: flex;
    margin: 0.2rem 0;
}
.filter__drop-down input {
    all: unset;
    width: 15px;
    height: 15px;
    background-color: var(--dark-black);
    border: 2px solid var(--blue);
    margin: 0 0.5em;
    border-radius: 50%;
}
.filter__drop-down select{
    all: unset;
    background-color: var(--dark-black);
    height: 1.15em;
    font-size: 0.8em;
    border: 2px solid var(--black);
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
    width: 70%;
}

.filter__drop-down input:checked{
    background-color: var(--blue);
}

.none{
    display: none;
}