
.footer {
    position: fixed;
    bottom: 0.3%;
    right: 1%;
}

.show-modal {
    all: unset;
    float: right;
}
.show-modal span {
    font-size: 3.5em;
    color: var(--blue);
    border-radius: 50%;
    transition: 0.2s;
    background-color: var(--dark-black);
    cursor: pointer;
}
.show-modal span:active {
    transform: translateY(2px);
}
