@import './style.css';
@import './navbar.css';
@import './music-card.css';
@import './options.css';

:root {
    --black: #282828;
    --dark-black: #191919;
    --light-black: #212226;
    --blue: #2e9599;
    --yellow: #f7dc68;
    --orange: #f46c3f;
    --violet: #a7226f;
}

body {
    background-color: var(--dark-black);
}

.main {
    display: flex;
    justify-content: space-around;
    padding: 2em;
    flex-wrap: wrap;
}
