
.music-card-item {
    all: unset;
    border: 2px solid var(--light-black);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    margin: 0.5em 0;
    padding-right: 0.1rem;
    min-height: 12vh;
}
.music-card-item img{
    width: 100%;
    padding: 0.5em;
}

.music-card-item section:last-child {
    width: 9rem;
    display: flex;
    flex-direction: column;
}
.music-card-item section:first-child{
    width: 7rem;
    cursor: pointer;
}
.music-card-item h2 {
    font-size: 1.35em;
    color: var(--blue);
    font-weight: 500;
    max-height: 3em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.music-card-item h3 {
    font-size: 1em;
    color: white;
    font-weight: 400;
    max-height: 3em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.music-card-item h3:hover, .music-card-item h2:hover{
    text-decoration: underline;
}

/* starred */
.music-card-item section span {
    font-size: 1.5em;
    color: var(--yellow);
    position: absolute;
    top: 3px;
    right: 5px;
}
.starred {
    align-self: flex-end;
}
.starred:active{
    transform: scale(1.1);
}
