
.music-card-item {
    all: unset;
    border-bottom: 2px solid var(--light-black);
    border-left: 2px solid var(--light-black);
    border-right: 2px solid var(--light-black);
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: relative;
    font-family: 'Montserrat', sans-serif;
}
.main section:first-child{
    border-top:  2px solid var(--light-black);
}

.music-card-item section:last-child {
    width: 9rem;
    display: flex;
    flex-direction: column;
}
.music-card-item section:first-child{
    width: 7rem;
    cursor: pointer;
}
.music-card-item h2 {
    font-size: 1.35em;
    color: var(--blue);
    font-weight: 500;
    max-height: 3em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

.music-card-item h3 {
    font-size: 1em;
    color: white;
    font-weight: 400;
    max-height: 3em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: pointer;
}

/* starred */
.music-card-item section span {
    font-size: 1.5em;
    color: var(--yellow);
    position: absolute;
    top: 0;
}
.starred {
    align-self: flex-end;
}

